@use "abstract" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --clr-bg: hsl(0, 0%, 100%);
  --clg-top-pattern: hsl(225, 100%, 98%);
  --clr-card-bg: hsl(227, 47%, 96%);
  --clr-card-hover: hsl(227, 13%, 86%);
  --clr-toggle: hsl(230, 22%, 74%);
  --clr-overview-heading: hsl(228, 12%, 44%);
  --text-light: hsl(228, 12%, 44%);
  --text-dark: hsl(230, 17%, 14%);
}

.dark-mode {
  --clr-bg: hsl(230, 17%, 14%);
  --clg-top-pattern: hsl(232, 19%, 15%);
  --clr-card-bg: hsl(229, 27%, 20%);
  --clr-card-hover: #3b3f54;
  --clr-toggle: hsl(228, 34%, 66%);
  --clr-overview-heading: hsl(0, 0%, 100%);
  --text-light: hsl(228, 34%, 66%);
  --text-dark: hsl(0, 0%, 100%);
}

html {
  font-size: 62.5%;

  @include responsive(mobile) {
    font-size: 43.75%;
  }
}

body {
  box-sizing: border-box;
  background-color: var(--clr-bg);
  font-family: "Inter", sans-serif;
}

body::before,
body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

body::before {
  background-color: var(--clr-bg);
  height: 100%;
  z-index: -1;
}

body::after {
  background-color: var(--clg-top-pattern);
  height: 30%;
  z-index: -1;

  @include responsive(mobile) {
    border-radius: 0 0 3rem 3rem;
  }
}

.container-120w {
  max-width: 120rem;
  margin: 0 auto;
}
