@use "abstract" as *;
@use "base" as *;

.smd {
  padding: 3.2rem 2.4rem;

  &__heading-box {
    @include flex(row, space-between, center, 0);
    margin-bottom: 3.2rem;
  }

  &__heading,
  &__no-of-followers,
  &__total-reach {
    color: var(--text-dark);
  }

  &__heading {
    font-size: 3rem;
  }

  &__total-followers {
    color: var(--text-light);
    font-weight: 700;
    font-size: 1.2rem;
  }

  &__mode {
    @include flex(row, center, center, 1.2rem);

    &--name {
      color: var(--clr-toggle);
      font-size: 1.2rem;
      font-weight: 700;
    }

    &--dark {
      background-color: $toggle-color;
      border-radius: 3.2rem;
      cursor: pointer;
      display: block;
      position: relative;
      width: 4.8rem;
      height: 2.4rem;
      transition: all 0.3s ease;
    }

    &--dark.toggle-active {
      background-image: linear-gradient(
        to right,
        hsl(210, 78%, 56%),
        hsl(146, 68%, 55%)
      );
    }

    &--dark.toggle-active &--slider {
      left: 0;
    }

    &--slider {
      position: absolute;
      top: 0;
      left: 2.4rem;
      width: 2.4rem;
      height: 2.4rem;
      border-radius: 50%;
      background-color: var(--clg-top-pattern);
      transform: scale(0.8);
      transition: all 0.3s ease;
    }
  }

  &__followers-grid {
    @include grid(4, 2.4rem, 0);
    margin-bottom: 4.8rem;
  }

  &__followers,
  &__reach-box {
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
      background-color: var(--clr-card-hover);
    }
  }

  &__followers {
    background-color: var(--clr-card-bg);
    border-radius: 0.5rem;
    padding: 1.8rem 3.6rem;
    text-align: center;
  }

  &__facebook,
  &__twitter,
  &__youtube {
    border-top: 4px solid;
  }

  &__facebook {
    border-color: $fb-color;
  }

  &__twitter {
    border-color: $twitter-color;
  }

  &__instagram {
    position: relative;
  }

  &__instagram::before {
    content: "";
    position: absolute;
    inset: 0;
    padding-top: 0.4rem;
    border-radius: 0.5rem;
    background-image: linear-gradient(
      to right,
      hsl(37, 97%, 70%),
      hsl(329, 70%, 58%)
    );
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: subtract;
  }

  &__youtube {
    border-color: $youtube-color;
  }

  &__id-box {
    @include flex(row, center, center, 0.8rem);
    margin-bottom: 1.8rem;
  }

  &__id-name {
    color: var(--text-light);
    font-weight: 700;
  }

  &__no-of-followers {
    font-size: 4.8rem;
    font-weight: 700;
  }

  &__followers-text {
    color: var(--text-light);
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 4px;
    margin-bottom: 2.4rem;
  }

  &__increase-box,
  &__decrease-box {
    @include flex(row, center, center, 0.4rem);
    font-weight: 700;
  }

  &__increase-box {
    color: $lime-green;
  }

  &__decrease-box {
    color: $bright-red;
  }

  &__overview-heading {
    font-size: 2.4rem;
    color: var(--clr-overview-heading);
    margin-bottom: 2rem;
  }

  &__overview-grid {
    @include grid(4, 2.4rem, 1.8rem);
  }

  &__reach-box {
    background-color: var(--clr-card-bg);
    border-radius: 0.5rem;
    padding: 1.8rem;
  }

  &__reach-heading-box {
    @include flex(row, space-between, center, 0);
    margin-bottom: 2.4rem;
  }

  &__mode-of-reach {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--text-light);
  }

  &__reach-description-box {
    @include flex(row, space-between, center, 0);
  }
  &__total-reach {
    font-size: 3rem;
    font-weight: 700;
  }
}
